@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i|Roboto:400,400i,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  /* background: #eee; */
  background: #fff;
  text-align: center;
  color: #222;
  overflow-y: scroll;
}

a {
  color: #222;
  text-decoration: none;
  border-bottom: dotted 1px #333;
}

a:hover {
  color: black;
}

textarea, select, input, button { 
  outline: none; 
}

.small {
  font-size: 10px;
}

.flex-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

#top-container {
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.col-left {
  width: 35%;
  padding: 0 0 0 5%;
  text-align: left;
}

.col-right {
  width: 60%;
  text-align: left;
}

h1 {
  font-size: 42px;
  margin: 20px 0px 10px;
  /* margin: 150px 0px 10px; */
  font-family: 'Cormorant Garamond', serif;
}

#title-years {
  width: 40px;
  display: inline-block;
}

h2 {
  font-size: 20px;
  margin: 5px 0;
  font-weight: normal;
}

h3 {
  font-size: 32px;
  margin: 20px 0px 0px;
  font-family: 'Cormorant Garamond', serif;
}

.filter {
  margin-top: 50px;
  opacity: 0;
  font-size: 20px;
}

.legend {
  margin-top: 50px;
  font-weight: 100;
  line-height: 1.75;
  opacity: 0;
}

.legend svg {
  margin-bottom: 1px;
  margin-right: 2px;
}

.select-wrapper {
  /* background: #fff; */
  padding: 1px;
  margin: 0 5px;
}

select {
  /* background: #fff; */
  border: none;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 20px;
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0px;
}

svg {
  fill: #333;
}

text {
  font-size: 0px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  fill: #000;
}

.TMIN path {
  fill: none;
  stroke: #75B0FF;
  opacity: 0.25;
}

.TMAX path {
  fill: none;
  stroke: #EE6A6A;
  opacity: 0.25;
}

@media (max-width: 1200px) {
  .TMIN path {
    opacity: 0.15;
  }
  
  .TMAX path {
    opacity: 0.15;
  }
}

.inactive path {
  /* stroke: #dadada; */
  stroke: #eaeaea;
}

.active path {
  opacity: .8 !important;
  stroke-width: 0.2; 
}

.TMAX circle, .TMIN circle {
  fill: auto;
  visibility: initial;
}

.TMIN circle {
  fill: blue;
}

.TMAX circle {
  fill: red;
}

.inactive circle {
  visibility: hidden !important;
}

.active .TMIN circle {
  fill: rgb(64, 145, 250);
  visibility: visible !important;
}

.active .TMAX circle {
  fill: rgb(238, 51, 51);
  visibility: visible !important;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 100px;					
  height: 40px;					
  padding: 8px;				
  font-size: 10px;
  text-transform: uppercase;		
  background: white;		
  pointer-events: none;	
  border-radius: 3px;		
}

.tooltip .TMIN {
  font-size: 16px;
  margin: 5px 0;
  color: blue;
}

.tooltip .TMAX {
  font-size: 16px;
  margin: 5px 0;
  color: red;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

#details-section .flex-container {
  align-items: inherit;
  justify-content: center;
  min-height: inherit;
}

#details-section .flex-container .col-left {
  width: calc(95% - 350px);
  padding: 0 5% 0 0;
}

#details-section .flex-container .col-right {
  width: 350px;
}

#details-section .flex-container .col-right img {
  width: 100%;
}

#details-section .col .block {
  padding-right: 100px;
  margin-bottom: 100px;
}

#details-section .col .block a {
  font-weight: bold;
}

#year-maps {
  margin-top: 50px;
}

#viz {
  position: relative;
}

#year-text {
  position: absolute;
  top: 50%;
  left: 44%;
  font-size: 32px;
}

img {
  max-width: 100%;
}

.lazy {
  display: none;
  width: 100%;
  margin-top: 10vh;
}

.mobile-only {
  display: hide;
}

.footer {
  text-align: center;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 32px;
  }

  h2, .filter, select {
    font-size: 14px;
  }

  h3 {
    font-size: 28px;
    text-align: center;
  }

  .flex-container {
    display: block;
  }

  .col {
    width: 90%;
    padding: 0 5%;
  }

  .col-left {
    text-align: center;
  }

  #details-section .col .block {
    padding-right: 0px;
    margin-bottom: 100px;
    text-align: left;
  }
  #details-section .col .block .flex-container {
    display: block;
  }

  #details-section .col .block .col-left, #details-section .col .block .col-right {
    width: 100%;
    text-align: left;
  }

  #details-section .col .block .col-right {
    padding: 0;
  }

  .legend {
    font-weight: 400;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .filter, .legend {
    margin-top: 20px;
  }

  #viz {
    width: 100%;
    padding: 0;
  }
}